div{
    height: 200px;
    width: 200px;
    background-color: greenyellow;
   /* transition-duration: 1s;
    transition-delay: 0.5s;*/


    transition: margin-top 2s ease-in-out 0.3s;
    margin: 0 auto;
    margin-top: 10px;

}

div:hover{
    background-color: black;
    border-radius: 50%;
    margin-top: 400px;
}

