*{
    text-align: center;
    text-transform: uppercase;
}

#mainTopic{
    color: blue;
}

h1, h3, h5 {
      font-family:Georgia;
}

.paragraph{
    color: white;
    background-color: cornflowerblue;
}

button{
    color: azure;
    background-color: yellow;
}

button:hover{
    color: blue;
}

p:nth-last-of-type(2n+1){
    background-color: yellow;
}

h1::first-letter{
    color: red;
}

#yes:checked + label{
    color: rgb(235, 250, 29);
}